In [1]:
#Import libraries
import matplotlib.pyplot    as plt
import numpy                as np
import pandas               as pd
import plotly.express       as px
import plotly.graph_objects as go
import re
import seaborn              as sns
import warnings

from sklearn.model_selection import train_test_split

sns.set_theme(style="white")

warnings.filterwarnings('ignore')

In [2]:
#Read data
raw_data_dir = '/content/drive/MyDrive/DS4A/data/raw/'
interim_data_dir = '/content/drive/MyDrive/DS4A/data/interim/'
procesed_data_dir = '/content/drive/MyDrive/DS4A/data/processed/'

df = pd.read_csv(interim_data_dir+'df_bog_residencial.csv')
df_bath = pd.read_csv(interim_data_dir+'bathrooms.csv')
df_bed = pd.read_csv(interim_data_dir+'bedrooms.csv')
df_area = pd.read_csv(interim_data_dir+'Metros_cuadrados.csv')

display(df.head(5))
display(df_bath.head(5))
display(df_bed.head(5))
display(df_area.head(5))

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type,created_on_monthly
0,SqIQZhnxoPKqMZEyVWAklA==,Propiedad,2020-10-07,2020-10-08,2020-10-07,NaN,NaN,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,7.600000e+08,COP,NaN,85519 _ Casa en Venta en estratègica ubicaciòn...,"Punto estrategico para nuevo proyecto, Casa Es...",Casa,Venta,2020-10
1,nIcuN67LWVCU9yKpQsj+dg==,Propiedad,2020-10-07,2020-10-31,2020-10-07,4.648423,-74.084421,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,2.600000e+09,COP,NaN,NICOLAS DE FEDERMAN _ REMODELADA _ 740 M2 CONS...,"NICOLAS DE FEDERMAN, 740 M2 CONSTRUIDOS, 1ER N...",Casa,Venta,2020-10
2,EttkFg9yRfQqAXfqGnMl5w==,Propiedad,2020-10-07,2021-05-04,2020-10-07,4.732122,-74.051263,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,5.300000e+08,COP,NaN,CASA EN VENTA- MAZUREN,Global Home te presenta esta linda casa ubicad...,Casa,Venta,2020-10
3,Fz4YhHOswX6LHYdqnN//AQ==,Propiedad,2020-10-07,2021-03-25,2020-10-07,4.707211,-74.099645,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,5.800000e+08,COP,NaN,Venta de casa en los cerezos,COD: 2901FR461Venta de Casa Multifamiliar 4 Pi...,Casa,Venta,2020-10
4,5W2EaDmCRCQ84AHOpKrYbw==,Propiedad,2020-10-07,2021-07-19,2020-10-07,4.714907,-74.028475,Colombia,Cundinamarca,Bogotá D.C,...,NaN,NaN,2.200000e+09,COP,NaN,BOSQUES DEL MARQUEZ VENDO CASA,"Linda casa en bosques del marquez, rodeada de ...",Casa,Venta,2020-10

                         id  bathrooms
0  Fz4YhHOswX6LHYdqnN//AQ==        1.0
1  rxPPDPvoUY5d48joGsohdg==        3.0
2  yXaHOOb5gZX5nCt2j+RRqQ==        2.0
3  Mw8bhnDA+fsAiy2vnTnoYQ==        2.0
4  0HeQaFvGWgCZK7sSKiV0jA==        2.0

                         id  bedrooms
0  SqIQZhnxoPKqMZEyVWAklA==       1.0
1  7zB9dHGagJ/PitGQk2RtRw==       4.0
2  Bn3X37H1OS7Ib01lJQvaXw==       4.0
3  O3PmoNcaFYcPk8vK3J7aNQ==       1.0
4  izn26okqBTfYgd5qY1aTHg==       5.0

                         id   area
0  XMxvPf2MRnHaRanDXer7+A==  410.0
1  2lOsWHX5VpipMQjmT6qpUg==   83.0
2  Mw8bhnDA+fsAiy2vnTnoYQ==   61.0
3  0HeQaFvGWgCZK7sSKiV0jA==   53.0
4  bWB2cA6TKhqFxh2PokU/HA==   43.0

In [3]:
#Check data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86331 entries, 0 to 86330
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  86331 non-null  object
 1   ad_type             86331 non-null  object
 2   start_date          86331 non-null  object
 3   end_date            70488 non-null  object
 4   created_on          86331 non-null  object
 5   lat                 81470 non-null  float64
 6   lon                 81470 non-null  float64
 7   l1                  86331 non-null  object
 8   l2                  86331 non-null  object
 9   l3                  86331 non-null  object
 10  l4                  85648 non-null  object
 11  l5                  78768 non-null  object
 12  l6                  25744 non-null  object
 13  rooms               31336 non-null  float64
 14  bedrooms            56868 non-null  float64
 15  bathrooms           67244 non-null  float64
 16  surface_total       4122 non-null   float64
 17  surface_covered     9201 non-null   float64
 18  price               86272 non-null  float64
 19  currency            86268 non-null  object
 20  price_period        7694 non-null   object
 21  title               86329 non-null  object
 22  description         86319 non-null  object
 23  property_type       86331 non-null  object
 24  operation_type      86331 non-null  object
 25  created_on_monthly  86331 non-null  object
dtypes: float64(8), object(18)
memory usage: 17.1+ MB

In [4]:
#Number of rows
print(df_area.shape)
print(df_bath.shape)
print(df_bed.shape)

(38316, 2)
(74163, 2)
(68303, 2)

In [5]:
#Change data types
df_prep = df.copy()
date_cols = ['start_date', 'end_date', 'created_on']
df_prep[date_cols] = df_prep[date_cols].apply(pd.to_datetime,
                                    format = '%Y-%m-%d',
                                    errors = 'coerce')
df_prep[date_cols]

      start_date   end_date created_on
0     2020-10-07 2020-10-08 2020-10-07
1     2020-10-07 2020-10-31 2020-10-07
2     2020-10-07 2021-05-04 2020-10-07
3     2020-10-07 2021-03-25 2020-10-07
4     2020-10-07 2021-07-19 2020-10-07
...          ...        ...        ...
86326 2021-03-31 2021-04-02 2021-03-31
86327 2021-03-31 2021-05-07 2021-03-31
86328 2021-03-31 2021-05-12 2021-03-31
86329 2021-03-31        NaT 2021-03-31
86330 2021-03-31 2021-09-03 2021-03-31

[86331 rows x 3 columns]

In [6]:
#Delete needless columns
delete_cols = ['ad_type', 'created_on', 'l1', 'l2' ,'l3', 'l4', 'l6',
               'currency', 'price_period', 'title',
               'description', 'operation_type', 'created_on_monthly']
df_prep = df_prep.drop(delete_cols, axis='columns')
df_prep

,id,start_date,end_date,lat,lon,l5,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
0,SqIQZhnxoPKqMZEyVWAklA==,2020-10-07,2020-10-08,NaN,NaN,Engativa,NaN,NaN,7.0,NaN,NaN,7.600000e+08,Casa
1,nIcuN67LWVCU9yKpQsj+dg==,2020-10-07,2020-10-31,4.648423,-74.084421,Teusaquillo,NaN,NaN,7.0,NaN,NaN,2.600000e+09,Casa
2,EttkFg9yRfQqAXfqGnMl5w==,2020-10-07,2021-05-04,4.732122,-74.051263,NaN,3.0,3.0,NaN,NaN,NaN,5.300000e+08,Casa
3,Fz4YhHOswX6LHYdqnN//AQ==,2020-10-07,2021-03-25,4.707211,-74.099645,Engativa,3.0,3.0,NaN,NaN,NaN,5.800000e+08,Casa
4,5W2EaDmCRCQ84AHOpKrYbw==,2020-10-07,2021-07-19,4.714907,-74.028475,Usaquén,3.0,3.0,NaN,NaN,NaN,2.200000e+09,Casa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86326,LZGSPXSO8qod2F5kXjTbGQ==,2021-03-31,2021-04-02,4.614657,-74.147302,Kennedy,NaN,NaN,3.0,NaN,NaN,5.400000e+08,Casa
86327,hNFUcvSXXxjBjyHF0j3isg==,2021-03-31,2021-05-07,4.600938,-74.195908,Bosa,NaN,NaN,6.0,NaN,NaN,1.750000e+08,Casa
86328,5zYdgqEmM+HSCrpPw/2vrw==,2021-03-31,2021-05-12,4.644055,-74.128511,Kennedy,3.0,3.0,NaN,NaN,NaN,4.100000e+08,Apartamento
86329,id160MFAX1qSWF79oy010Q==,2021-03-31,NaT,4.653064,-74.161088,Kennedy,NaN,NaN,3.0,NaN,NaN,3.400000e+08,Casa
86330,WuCAZxlgtkYgoHRAiodCbA==,2021-03-31,2021-09-03,4.641292,-74.153875,Kennedy,NaN,NaN,2.0,NaN,NaN,3.500000e+08,Apartamento

In [7]:
#bedrooms and rooms data imputation
#Here we assume that rooms and bedrooms are the same

prep_bed= df_prep[['id', 'rooms', 'bedrooms']]
prep_bed['missing'] = prep_bed.isnull().sum(axis=1)
prep_bed = prep_bed.fillna(0)
prep_bed

                             id  rooms  bedrooms  missing
0      SqIQZhnxoPKqMZEyVWAklA==    0.0       0.0        2
1      nIcuN67LWVCU9yKpQsj+dg==    0.0       0.0        2
2      EttkFg9yRfQqAXfqGnMl5w==    3.0       3.0        0
3      Fz4YhHOswX6LHYdqnN//AQ==    3.0       3.0        0
4      5W2EaDmCRCQ84AHOpKrYbw==    3.0       3.0        0
...                         ...    ...       ...      ...
86326  LZGSPXSO8qod2F5kXjTbGQ==    0.0       0.0        2
86327  hNFUcvSXXxjBjyHF0j3isg==    0.0       0.0        2
86328  5zYdgqEmM+HSCrpPw/2vrw==    3.0       3.0        0
86329  id160MFAX1qSWF79oy010Q==    0.0       0.0        2
86330  WuCAZxlgtkYgoHRAiodCbA==    0.0       0.0        2

[86331 rows x 4 columns]

In [8]:
#Create new column according to this conditions
conditions_bed = [
                  (prep_bed['missing'] == 1),
                  (prep_bed['missing'] == 0) & (prep_bed['bedrooms'] != 0),
                  (prep_bed['missing'] == 0) & (prep_bed['bedrooms'] == 0),
                  (prep_bed['missing'] == 2)
                  ]

values_bed = [prep_bed['bedrooms']+prep_bed['rooms'],
          prep_bed['bedrooms'],
          prep_bed['rooms'],
          np.nan]

prep_bed['bedrooms_'] = np.select(conditions_bed, values_bed)
prep_bed

                             id  rooms  bedrooms  missing  bedrooms_
0      SqIQZhnxoPKqMZEyVWAklA==    0.0       0.0        2        NaN
1      nIcuN67LWVCU9yKpQsj+dg==    0.0       0.0        2        NaN
2      EttkFg9yRfQqAXfqGnMl5w==    3.0       3.0        0        3.0
3      Fz4YhHOswX6LHYdqnN//AQ==    3.0       3.0        0        3.0
4      5W2EaDmCRCQ84AHOpKrYbw==    3.0       3.0        0        3.0
...                         ...    ...       ...      ...        ...
86326  LZGSPXSO8qod2F5kXjTbGQ==    0.0       0.0        2        NaN
86327  hNFUcvSXXxjBjyHF0j3isg==    0.0       0.0        2        NaN
86328  5zYdgqEmM+HSCrpPw/2vrw==    3.0       3.0        0        3.0
86329  id160MFAX1qSWF79oy010Q==    0.0       0.0        2        NaN
86330  WuCAZxlgtkYgoHRAiodCbA==    0.0       0.0        2        NaN

[86331 rows x 5 columns]

In [9]:
#Merge with pre-processed data of bedrooms
prep_bed = prep_bed.loc[:,['id', 'bedrooms_']]
prep_bed = pd.merge(prep_bed, df_bed, on='id', how='outer')
prep_bed['bedrooms_prep'] = np.where(np.isnan(prep_bed['bedrooms_']),
                                     prep_bed['bedrooms'],
                                     prep_bed['bedrooms_'])
prep_bed = prep_bed.loc[:, ['id', 'bedrooms_prep']]
prep_bed

                             id  bedrooms_prep
0      SqIQZhnxoPKqMZEyVWAklA==            1.0
1      nIcuN67LWVCU9yKpQsj+dg==            NaN
2      EttkFg9yRfQqAXfqGnMl5w==            3.0
3      Fz4YhHOswX6LHYdqnN//AQ==            3.0
4      5W2EaDmCRCQ84AHOpKrYbw==            3.0
...                         ...            ...
86326  LZGSPXSO8qod2F5kXjTbGQ==            3.0
86327  hNFUcvSXXxjBjyHF0j3isg==            NaN
86328  5zYdgqEmM+HSCrpPw/2vrw==            3.0
86329  id160MFAX1qSWF79oy010Q==            NaN
86330  WuCAZxlgtkYgoHRAiodCbA==            3.0

[86331 rows x 2 columns]

In [10]:
#Surface data imputation
#Here we assume that surface_total and surface_covered are the same
prep_area= df_prep[['id', 'surface_total', 'surface_covered']]
prep_area['missing'] = prep_area.isnull().sum(axis=1)
prep_area = prep_area.fillna(0)
prep_area

                             id  surface_total  surface_covered  missing
0      SqIQZhnxoPKqMZEyVWAklA==            0.0              0.0        2
1      nIcuN67LWVCU9yKpQsj+dg==            0.0              0.0        2
2      EttkFg9yRfQqAXfqGnMl5w==            0.0              0.0        2
3      Fz4YhHOswX6LHYdqnN//AQ==            0.0              0.0        2
4      5W2EaDmCRCQ84AHOpKrYbw==            0.0              0.0        2
...                         ...            ...              ...      ...
86326  LZGSPXSO8qod2F5kXjTbGQ==            0.0              0.0        2
86327  hNFUcvSXXxjBjyHF0j3isg==            0.0              0.0        2
86328  5zYdgqEmM+HSCrpPw/2vrw==            0.0              0.0        2
86329  id160MFAX1qSWF79oy010Q==            0.0              0.0        2
86330  WuCAZxlgtkYgoHRAiodCbA==            0.0              0.0        2

[86331 rows x 4 columns]

In [11]:
prep_area.query('missing == 1')

                             id  surface_total  surface_covered  missing
21     rTWBhITwkoVLuJEmcrPYzw==            0.0             99.0        1
22     5ECazs7zG/qD+ha0DPFmJg==            0.0             73.0        1
103    eweF9sCbbgdc/Jk4ORYDPQ==            0.0             46.0        1
161    MXCmvBP5pqnnj0VSYI0Sbg==            0.0             60.0        1
162    ATpK+OWisGxo3ruQivdGIg==            0.0             62.0        1
...                         ...            ...              ...      ...
86250  EMO5cD80BiMoypZtj98g+w==            0.0            116.0        1
86251  w3v9L3kuWy9Hn6y26D+KBg==          300.0              0.0        1
86252  bnGZk6gYiI+K4I0lwkhexQ==            0.0            401.0        1
86260  Zsp1e96eDQZq6VkZAuspiA==            0.0            157.0        1
86263  c9iNcXdPARcara8R7b1h7A==            0.0             64.0        1

[5371 rows x 4 columns]

In [12]:
#Create new column according to this conditions
conditions_area = [
                  (prep_area['missing'] == 1),
                  (prep_area['missing'] == 0) & (prep_area['surface_covered'] != 0),
                  (prep_area['missing'] == 0) & (prep_area['surface_covered'] == 0),
                  (prep_area['missing'] == 2)
                  ]

values_area = [prep_area['surface_covered']+prep_area['surface_total'],
          prep_area['surface_covered'],
          prep_area['surface_total'],
          np.nan]

prep_area['area_'] = np.select(conditions_area, values_area)
prep_area

,id,surface_total,surface_covered,missing,area_
0,SqIQZhnxoPKqMZEyVWAklA==,0.0,0.0,2,NaN
1,nIcuN67LWVCU9yKpQsj+dg==,0.0,0.0,2,NaN
2,EttkFg9yRfQqAXfqGnMl5w==,0.0,0.0,2,NaN
3,Fz4YhHOswX6LHYdqnN//AQ==,0.0,0.0,2,NaN
4,5W2EaDmCRCQ84AHOpKrYbw==,0.0,0.0,2,NaN
...,...,...,...,...,...
86326,LZGSPXSO8qod2F5kXjTbGQ==,0.0,0.0,2,NaN
86327,hNFUcvSXXxjBjyHF0j3isg==,0.0,0.0,2,NaN
86328,5zYdgqEmM+HSCrpPw/2vrw==,0.0,0.0,2,NaN
86329,id160MFAX1qSWF79oy010Q==,0.0,0.0,2,NaN
86330,WuCAZxlgtkYgoHRAiodCbA==,0.0,0.0,2,NaN

In [13]:
#Merge with pre-processed data of area
prep_area = prep_area.loc[:,['id', 'area_']]
prep_area = pd.merge(prep_area, df_area, on='id', how='outer')
prep_area['area_prep'] = np.where(np.isnan(prep_area['area_']),
                                     prep_area['area'],
                                     prep_area['area_'])
prep_area = prep_area.loc[:, ['id', 'area_prep']]
prep_area

                             id  area_prep
0      SqIQZhnxoPKqMZEyVWAklA==      233.0
1      nIcuN67LWVCU9yKpQsj+dg==      740.0
2      EttkFg9yRfQqAXfqGnMl5w==        NaN
3      Fz4YhHOswX6LHYdqnN//AQ==        NaN
4      5W2EaDmCRCQ84AHOpKrYbw==        NaN
...                         ...        ...
86326  LZGSPXSO8qod2F5kXjTbGQ==      400.0
86327  hNFUcvSXXxjBjyHF0j3isg==       80.0
86328  5zYdgqEmM+HSCrpPw/2vrw==        NaN
86329  id160MFAX1qSWF79oy010Q==        NaN
86330  WuCAZxlgtkYgoHRAiodCbA==       81.0

[86331 rows x 2 columns]

In [14]:
#Bathrooms data imputation
prep_bath= df_prep[['id', 'bathrooms']]
prep_bath = pd.merge(prep_bath, df_bath, on='id', how='outer')
prep_bath['bath_prep'] = np.where(np.isnan(prep_bath['bathrooms_x']),
                                     prep_bath['bathrooms_y'],
                                     prep_bath['bathrooms_x'])
prep_bath = prep_bath.loc[:, ['id', 'bath_prep']]
prep_bath

                             id  bath_prep
0      SqIQZhnxoPKqMZEyVWAklA==        7.0
1      nIcuN67LWVCU9yKpQsj+dg==        7.0
2      EttkFg9yRfQqAXfqGnMl5w==        NaN
3      Fz4YhHOswX6LHYdqnN//AQ==        1.0
4      5W2EaDmCRCQ84AHOpKrYbw==        NaN
...                         ...        ...
86326  LZGSPXSO8qod2F5kXjTbGQ==        3.0
86327  hNFUcvSXXxjBjyHF0j3isg==        6.0
86328  5zYdgqEmM+HSCrpPw/2vrw==        2.0
86329  id160MFAX1qSWF79oy010Q==        3.0
86330  WuCAZxlgtkYgoHRAiodCbA==        2.0

[86331 rows x 2 columns]

In [15]:
#Merge with the main data set
df_prep = pd.merge(df_prep, prep_bed, on='id', how='inner')
df_prep = pd.merge(df_prep, prep_bath, on='id', how='inner')
df_prep = pd.merge(df_prep, prep_area, on='id', how='inner')
df_prep = df_prep.drop(['rooms', 'bedrooms', 'bathrooms',
                        'surface_total', 'surface_covered', 'end_date'],
                       axis = 'columns')
df_prep

,id,start_date,lat,lon,l5,price,property_type,bedrooms_prep,bath_prep,area_prep
0,SqIQZhnxoPKqMZEyVWAklA==,2020-10-07,NaN,NaN,Engativa,7.600000e+08,Casa,1.0,7.0,233.0
1,nIcuN67LWVCU9yKpQsj+dg==,2020-10-07,4.648423,-74.084421,Teusaquillo,2.600000e+09,Casa,NaN,7.0,740.0
2,EttkFg9yRfQqAXfqGnMl5w==,2020-10-07,4.732122,-74.051263,NaN,5.300000e+08,Casa,3.0,NaN,NaN
3,Fz4YhHOswX6LHYdqnN//AQ==,2020-10-07,4.707211,-74.099645,Engativa,5.800000e+08,Casa,3.0,1.0,NaN
4,5W2EaDmCRCQ84AHOpKrYbw==,2020-10-07,4.714907,-74.028475,Usaquén,2.200000e+09,Casa,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
86326,LZGSPXSO8qod2F5kXjTbGQ==,2021-03-31,4.614657,-74.147302,Kennedy,5.400000e+08,Casa,3.0,3.0,400.0
86327,hNFUcvSXXxjBjyHF0j3isg==,2021-03-31,4.600938,-74.195908,Bosa,1.750000e+08,Casa,NaN,6.0,80.0
86328,5zYdgqEmM+HSCrpPw/2vrw==,2021-03-31,4.644055,-74.128511,Kennedy,4.100000e+08,Apartamento,3.0,2.0,NaN
86329,id160MFAX1qSWF79oy010Q==,2021-03-31,4.653064,-74.161088,Kennedy,3.400000e+08,Casa,NaN,3.0,NaN
86330,WuCAZxlgtkYgoHRAiodCbA==,2021-03-31,4.641292,-74.153875,Kennedy,3.500000e+08,Apartamento,3.0,2.0,81.0

In [16]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86331 entries, 0 to 86330
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             86331 non-null  object
 1   start_date     86331 non-null  datetime64[ns]
 2   lat            81470 non-null  float64
 3   lon            81470 non-null  float64
 4   l5             78768 non-null  object
 5   price          86272 non-null  float64
 6   property_type  86331 non-null  object
 7   bedrooms_prep  68471 non-null  float64
 8   bath_prep      74163 non-null  float64
 9   area_prep      38344 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 7.2+ MB

In [17]:
#Drop nan values by area and price
df_prep = df_prep.dropna(subset=['price', 'area_prep'])
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38316 entries, 0 to 86330
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             38316 non-null  object
 1   start_date     38316 non-null  datetime64[ns]
 2   lat            36342 non-null  float64
 3   lon            36342 non-null  float64
 4   l5             34449 non-null  object
 5   price          38316 non-null  float64
 6   property_type  38316 non-null  object
 7   bedrooms_prep  33088 non-null  float64
 8   bath_prep      32652 non-null  float64
 9   area_prep      38316 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 3.2+ MB

In [18]:
#Check null values
df_prep.isna().sum()/df_prep.shape[0]

id               0.000000
start_date       0.000000
lat              0.051519
lon              0.051519
l5               0.100924
price            0.000000
property_type    0.000000
bedrooms_prep    0.136444
bath_prep        0.147823
area_prep        0.000000
dtype: float64

In [19]:
#Drop properties with outliers in bathrooms, bedrooms, area and $/m2
df_prep_2 = df_prep[['id', 'price', 'area_prep', 'bedrooms_prep', 'bath_prep']].copy()
df_prep_2 = df_prep_2.set_index('id')
df_prep_2['price/m2'] = df_prep_2['price']/df_prep_2['area_prep']
df_prep_2 = df_prep_2.drop('price', axis='columns')
df_prep_2

                          area_prep  bedrooms_prep  bath_prep      price/m2
id
SqIQZhnxoPKqMZEyVWAklA==      233.0            1.0        7.0  3.261803e+06
nIcuN67LWVCU9yKpQsj+dg==      740.0            NaN        7.0  3.513514e+06
rxPPDPvoUY5d48joGsohdg==      260.0            9.0        3.0  2.307692e+06
ViEz2L48rJD8uYpc4eqaGg==      336.0            4.0        NaN  3.273810e+06
EnonleppJg5p9F3t6Cp94g==      316.0            6.0        NaN  2.531646e+06
...                             ...            ...        ...           ...
cOjJ9IjA5LzTr0SGvEOsxw==       56.0            3.0        2.0  3.660714e+06
jC6cWVxESRJq4MrAR6eE7g==       43.0            3.0        1.0  3.255814e+06
LZGSPXSO8qod2F5kXjTbGQ==      400.0            3.0        3.0  1.350000e+06
hNFUcvSXXxjBjyHF0j3isg==       80.0            NaN        6.0  2.187500e+06
WuCAZxlgtkYgoHRAiodCbA==       81.0            3.0        2.0  4.320988e+06

[38316 rows x 4 columns]

In [20]:
Q1 = df_prep_2.quantile(0.25)
Q3 = df_prep_2.quantile(0.75)
IQR = Q3-Q1
k_outlier = 3

In [21]:
((df_prep_2 < (Q1 - k_outlier * IQR)) |(df_prep_2 > (Q3 + k_outlier * IQR))).sum(axis=1)

id
SqIQZhnxoPKqMZEyVWAklA==    1
nIcuN67LWVCU9yKpQsj+dg==    2
rxPPDPvoUY5d48joGsohdg==    1
ViEz2L48rJD8uYpc4eqaGg==    0
EnonleppJg5p9F3t6Cp94g==    0
                           ..
cOjJ9IjA5LzTr0SGvEOsxw==    0
jC6cWVxESRJq4MrAR6eE7g==    0
LZGSPXSO8qod2F5kXjTbGQ==    0
hNFUcvSXXxjBjyHF0j3isg==    0
WuCAZxlgtkYgoHRAiodCbA==    0
Length: 38316, dtype: int64

In [22]:
((df_prep_2 < (Q1 - k_outlier * IQR)) |(df_prep_2 > (Q3 + k_outlier * IQR))).any(axis=1).sum()

3082

In [23]:
((df_prep_2 < (Q1 - k_outlier * IQR)) |(df_prep_2 > (Q3 + k_outlier * IQR))).all(axis=1).sum()

0

In [24]:
#Delete outliers
df_prep_2 = df_prep_2[~((df_prep_2 < (Q1 - k_outlier * IQR)) |(df_prep_2 > (Q3 + k_outlier * IQR))).any(axis=1)]
df_prep_2 = df_prep_2.reset_index()

df_prep = df_prep[df_prep.id.isin(df_prep_2['id'])]

In [25]:
#Split train-test data
df_train, df_test = train_test_split(df_prep, test_size=0.2, random_state=1234)
print(df_train.shape)
print(df_test.shape)

(28187, 10)
(7047, 10)

In [26]:
#Export processed data
df_train.to_csv(procesed_data_dir+'df_train.csv', index=False)
df_test.to_csv(procesed_data_dir+'df_test.csv', index=False)